#mainDisplay {
  display:table;
  width:100%;
  padding-top: 60px;
  color: $primary-color;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
}

.list-item {
  max-width: 200px;
    a {
      text-decoration: none;
      img {
        height: 200px
      }
      div {
        height: 60px
      }
    }
    a:hover {
      background-color: $primary-color;
    }
}

