.particles-js-canvas-el {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    margin-bottom: -$footer-height  - '60px';
    left: 0;
    right: 0;
    bottom: 0;
}

#particles {
    position: fixed;
    z-index: -1;
}
